@import '../../styles/vars';
@import '../../styles/mixins';

.segment {
  h1.title {
    @include h1;
  }

  h2.title {
    @include h2;
  }
}

.description {
  margin-top: 5px;
  font-size: 18px;
}

.content {
  margin-top: 12px;
}
