@import '../../styles/vars';
@import '../../styles/mixins';

.alert {
  padding: 0.5rem;
  border-radius: $borderRadiusSmall;

  &.red {
    background-color: #ffd1d1;
    color: #631717;
  }

  &.green {
    background-color: #d7ffd7;
    color: #2b6d2b;
  }
}
